
<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>{{blog.title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="album.css" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Tuan Nguyen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link " href="https://www.facebook.com/tuan.nguyen.08">Facebook</a>
          <a class="nav-item nav-link" href="{% static "resume.pdf" %}">Resume</a>
          <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container">
    <a class = "text-center"><h1>{{ blog.title }}</h1></a>
    <p class = "center"> {{ blog.pub_date }} </>
    <br />
    <img class="img-fluid" src="{{blog.image.url}}"/>
    <br />
    {{blog.body}}
    <hr />
    </div>

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>©Tuan Nguyen {% now "Y" %}</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
